* {
  padding: 0;
  margin: 0;
}
body {
  /*display: flex;*/
  min-height: 100vh;
  max-height: 100vh;
  background-color: #bbb;

}
header{
  align-self: flex-start;
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('https://res.cloudinary.com/ziopads/image/upload/v1488606067/lynnlyStudies3_le5cvh.jpg');
  /*background-color: #888;*/
  color: #eee;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 20px;
}
#main-image {
  position: absolute;
  float: left;
  margin: 10px;
  margin-left: 40px;
  border-radius: 50%;
  width: 7%;
  overflow: hidden;
}
h1 {
  font-family: "Arimo";
  font-size: 2em;
  text-transform: uppercase;
  text-align: center;
  /*background-color: #888;*/
  padding-top: 30px;
}

h2{
  font-family: "Source Sans Pro";
  font-size: 1em;
  text-transform: uppercase;
  text-align: center;
  /*background-color: #888;*/
  /*padding-bottom: 10px;*/

}

.container{
  display: flex;
  width: 100%;
}

footer {
  display: flex;
  align-items: flex-end;
  background-color: #888;
  width: 100%;
  height: auto;
}
